.delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .delete-modal {
    background: white;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 450px;
  }
  
  .delete-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .delete-modal-header-text {
    margin: 0;
    font-size:24px;
    font-weight: 500;
    color: #211F33
  }
  
  .delete-modal-content {
    margin-bottom: 24px;
  }

  .delete-modal-content-text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #211F33;
    line-height: 16.94px;
  }
  .device-system-name-text{
    font-size: 14px;
    font-weight: 500;
    color: #211F33;
    line-height: 16.94px;
  }

  
  .delete-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  
  .cancel-button,
  .delete-button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cancel-button {
    background: white;
    border: 1px solid #ddd;
  }
  
  .delete-button {
    background: #d32f2f;
    color: white;
    border: none;
  }
  
  .cancel-button:hover {
    background: #f5f5f5;
  }
  
  .delete-button:hover {
    background: #b71c1c;
  }
  .close-button{
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .close-button:hover {
    opacity: 0.7;
  }